.buttonContainer{
    
    display:flex;
    justify-content:center ;
    flex-wrap:wrap ;
}
.button{
    font-weight: bold;
    border-radius:5px;
    margin:10px;
    padding:10px;
    height:40px;
    width:60px;
}